{% extends "base.html" %}
{% block content %}
<section class="form-container">
  <h1>Add New Product</h1>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <label for="product_name">Product name</label>
      <input type="text" name="product_name" required />
    </div>
    <div>
      <label for="price">Price</label>
      <input type="number" name="price" required />
    </div>
    <div class="categories-container">
      <label for="category">Categories:</label>
      <div class="categories">
        {% if categories %}
        {% for category in categories %}
        <div class="category">
          <input type="checkbox" class="category-input" name="categories" id="{{category.name}}" value="{{category.id}}" />
          <label for="{{category.name}}" class="category-label">{{category.name}}</label>
        </div>
        {% endfor %}
        {% else %}
        <p>No categories yet <a href="{% url 'add_product_category' %}">Add some.</a></p>
        {% endif %}
      </div>
    </div>
    <div>
      <label for="image">Product Image</label>
      <input type="file" name="image" required />
    </div>
    <div>
      <label for="brand">Brand name</label>
      <input type="text" name="brand" required />
    </div>
    <div>
      <label for="quantity">Copies Available</label>
      <input type="number" name="quantity" required />
    </div>
    <div>
      <label for="description">Product Description</label>
      <textarea name="description" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
      <input type="submit" value="Add product">
    </div>
  </form>
</section>
{% endblock %}