{% extends "base.html" %}
{% block content %}
<div class="main-content-container">
  <h1>Admin Dashboard: <span>entire enterprise at a glance</span></h1>
  <section class="main-content-container__dashboard">
    <div>
      <p>Last month sales</p>
      <span>$0</span>
      <a href="http://">view more</a>
    </div>
    <div>
      <p>Sales this month</p>
      <span>$10008</span>
      <a href="http://">view more</a>
    </div>
    <div>
      <p>All time sales</p>
      <span>$10008</span>
      <a href="http://">view more</a>
    </div>
  </section>
</div>
{% endblock %}