{% extends "base.html" %}
{% block content %}
<div class="main-content-container" id="main-content-container">
  <h1>Admin Dashboard: <span>enterprise at a glance</span></h1>
  <section class="main-content-container__dashboard">
    <div>
      <p>Finances</p>
      <span>$0</span>
      <a href="{% url 'finances' %}">view more</a>
    </div>
    <div>
      <p>Sales this month</p>
      <span>$10008</span>
      <a href="http://">view more</a>
    </div>
    <div>
      <p>All time sales</p>
      <span>$10008</span>
      <a href="http://">view more</a>
    </div>
    <div>
      <p>Expenses</p>
      <span>$10008</span>
      <a href="http://">view more</a>
    </div>
    <div>
      <p>Credit & Business Loans</p>
      <span>$10008</span>
      <a href="http://">view more</a>
    </div>
    <div>
      <p>Top Clients</p>
      <span>$10008</span>
      <a href="http://">view more</a>
    </div>
  </section>
</div>
{% endblock %}