{% extends "base.html" %}
{% block content %}
<div class="main-content-container" id="main-content-container">
  <h1>Admin Dashboard: <span>enterprise at a glance</span></h1>
  <section class="main-content-container__dashboard">
    <div>
      <p>Finances</p>
      <span>View Profits & Losses</span>
      <a href="{% url 'finances' %}">view more</a>
    </div>
    <div>
      <p>Last month sales</p>
      <span>${{sales|floatformat:"2g"}}</span>
      <a href="{% url 'completed_orders' %}">view more</a>
    </div>
    <div>
      <p>Sales this month</p>
      <span>${{sales|floatformat:"2g"}}</span>
      <a href="{% url 'completed_orders' %}">view more</a>
    </div>
    <div>
      <p>All time sales</p>
      <span>${{sales|floatformat:"2g"}}</span>
      <a href="http://">view more</a>
    </div>
    <div>
      <p>Expenses</p>
      <span>${{expenses|floatformat:"2g"}}</span>
      <a href="{% url 'expenses' %}">view more</a>
    </div>
    <div>
      <p>Credit & Business Loans</p>
      <span>${{loan|floatformat:"2g"}}</span>
      <a href="{% url 'expenses' %}">view more</a>
    </div>
    <div>
      <p>Top Clients</p>
      <span>{{clients}} clients</span>
      <a href="{% url 'clients' %}">view more</a>
    </div>
  </section>
</div>
{% endblock %}