{% extends "base.html" %}
{% block content %}
<section class="up-container form-container">
  <h2>Expenses for the month of {{month}}</h2>
  <p>{{date}}</p>
  <form action="" method="post">
    <div>
      <input type="month" name="month" id="" min="2020-08">
    </div>
    <input type="submit" value="Filter by month and year">
  </form>
  <table border="|">
    <thead>
      <tr>
        <td>Expense Category</td>
        <td>Expense Date</td>
        <td>Expense Description</td>
        <td>Expense Amount</td>
      </tr>
    </thead>
    <tbody>
      {% if expenses %}
      {% for expense in expenses %}
      <tr>
        <td>{{expense.category.name}}</td>
        <td>{{expense.date}}</td>
        <td>{{expense.description}}</td>
        <td>${{expense.amount}}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total this month</td>
        <td>${{total}}</td>
      </tr>
    </tfoot>
    {% else %}
    <tbody>
      <tr>
        <td colspan="4">
          <h2>No Expenses added yet for this period</h2>
        </td>
      </tr>
    </tbody>
    {% endif %}

  </table>
</section>
{% endblock %}
