{% extends "base.html" %}
{% block content %}
<section class="up-container">
  <h2>Expenses for the month of {{month}}</h2>
  <p>{{date}}</p>
  <table border="|">
    <thead>
      <tr>
        <td>Expense Category</td>
        <td>Expense Date</td>
        <td>Expense Description</td>
        <td>Expense Amount</td>
      </tr>
    </thead>
    <tbody>
      {% for expense in expenses %}
      <tr>
        <td>{{expense.category.name}}</td>
        <td>{{expense.date}}</td>
        <td>{{expense.description}}</td>
        <td>{{expense.amount}}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total this month</td>
        <td>{{total}}</td>
      </tr>
    </tfoot>
  </table>
</section>
{% endblock %}