{% extends "base.html" %}
{% block content %}

<section class="form-container">
  <!-- <form method="POST" action="/confirm-order/"> -->
  <h2>Order Confirmation</h2>
  <div class="container" name="orderForm">
    <form method="POST" name="orderForm">
      {% csrf_token %}
      <!-- Render form fields for selected products -->
      <ul class="order-container">
        {% for product in selected_products %}

        <li>
          <span>{{ product.name }}</span>
          <input type="hidden" name="{{product.name}}" value="{{ product.id }}" class="">
          <input type="number" name="{{product.name}}-quantity" id="quantity_{{ product.id }}" min="1"
            value="{{product.client_quantity}}" class="product_inputs quantity" data-id="{{product.price}}">
          <input type="submit" id="quantity_{{ product.id }}" class="product-inputs hover" value="Update Quantity">
        </li>

        {% endfor %}
      </ul>
      <div>
        <label for="id_payment_method">Payment Method:</label>
        <select id="id_payment_method" class='hover' name="payment_method">
          <option value="paypal" selected>PayPal</option>
        </select>
      </div>
      <div>
        <label for="id_shipping_address">Shipping Address:</label>
        <textarea id="id_shipping_address" name="shipping_address" rows="4" cols="50"></textarea>
      </div>
      <div>
        <input type="submit" value="Confirm Order">
      </div>
    </form>
  </div>
</section>
{% endblock %}