{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="up-container" id="products-container">
  {% if orders %}
  <h2>Orders</h2>
  <table border="|">
    <thead>
      <tr>
        <th>Order</th>
        <th>Total</th>
        <th>Paid?</th>
        <th>Shipping Address</th>
        <th>Status</th>
        {% if user.is_admin %}
        <th>Client</th>
        <th>Process</th>
        <th>Processed by</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td><a href="{% url 'order' order.order_code %}">Order #{{order.id}}</a></td>
        <td>
          {{order.total_amount}}
        </td>
        <td>
          {% if order.paid %}
          Paid
          {% else %}
          Not paid
          {% endif %}
        </td>
        <td>
          {{order.shipping_address}}
        </td>
        <td>
          {{order.status}}
        </td>
        {% if user.is_staff and order.paid or user.is_admin %}
        <td>
          <a href="{% url 'user' order.client.user_id %}">{{order.client}}</a>
        </td>
        {% if user.is_admin %}
        <td>
          <a href="{% url 'process_order' order.order_code %}">Process Order</a>
        </td>
        <td>
          <a href="{% url 'user' order.staff.user_id %}">{{order.staff}}</a>
        </td>
        {% endif %}
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h2>No orders made yet!!!</h2>
  {% endif %}
</section>
{% endblock content %}