{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="products-container" id="products-container">
  <!-- <h1>Products</h1> -->
  {% for order in orders %}
  <div class="o-container">
    <div class="container product-container" id="{{order.order_code}}">
      <a href="{% url 'order' order.order_code %}">Order #{{order.id}}</a>
      <p>Order code: {{order.order_code}}</p>
      <p class="product-name">{{order.status}}</p>
      <p class="product-price">{{order.payment_method}}</p>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock content %}