{% extends "base.html" %}
{% block content %}
<section class="form-container sign-form login">
  <h1>Password Reset Confirm</h1>
  <form method="post" action="{% url 'password_reset_confirm' uidb64 token %}">
    {% csrf_token %}
    <div>
      <input type="password" name="new_password1" placeholder="New Password">
    </div>
    <div>
      <input type="password" name="new_password2" placeholder="Confirm New Password">
    </div>
    <div>
      <button type="submit">Set New Password</button>
    </div>
    
  </form>
</section>
{% endblock %}
