{% extends "base.html" %}
{% block content %}
<section class='up-container'>
  <table border="|">
    <thead>
      <tr>
        <td>id</td>
        <td>Order</td>
	<td>Cleared</td>
	<td>Status</td>
        <td>Amount</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{order.id}}</td>
        <td>{{order}}</td>
	<td>
		{% if order.paid %}
		Yes
		{% else %}
		No
		{% endif %}
	</td>
	<td>
	  <div id="paypal-button-container">
    	    <form action="{% url 'process_order' order.order_code %}" method="POST">
      	      {% csrf_token %}
      	      <div>
		      Status: {{order.status}}
        	<select id="id_status" name="status" value="order.status">
          	  <option value="pending">Pending</option>
          	  <option value="in_progress">In Progress</option>
          	  <option value="completed">Completed</option>
          	  <option value="cancelled">Cancelled</option>
        	</select>
      	      </div>
              <button type="submit">Process</button>
    	    </form>
  	  </div>
	</td>
        <td>{{order.total_amount}}</td>
      </tr>
      {% for order in order_items %}
      <tr>
        <td>{{order.product.name}} </td>
        <td>{{order.price|floatformat:"2g"}} </td>
        <td>{{order.quantity}}</td>
        <td>{{order.subtotal|floatformat:"2g"}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
