{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="products-container" id="products-container">
  <!-- <h1>Products</h1> -->
  <div class="search-input">
    <form method="post">
      <input type="text" name="query" id="search-input" placeholder="Search...">
      <input type="submit" value="Search">
    </form>
  </div>
  {% for product in products %}
  <div class="p-container">
    <div class="product-container" id="{{product.p_code}}">
      {% if product.image %}
      <img src="{{ product.image.url }}" alt="product.name" />
      {% endif %}
      <p class="product-name"><a href="{% url 'product' product.p_code %}">{{product.name}}</a></p>
      <p class="product-price">$ {{product.price|floatformat:"2g"}}</p>
    </div>
    <div class="quantity-cart">
      <input type="hidden" class="quantity" min="1" value="1">
      <button id="{{product.p_code}}" class="add-to-cart" data-product-id="{{ product.id }}"
        data-product-code="{{product.p_code}}">Add to
        Order</button>
    </div>
  </div>
  {% endfor %}
  <div class="pagination">
    {% if products.has_previous %}
    <a href="?page={{ products.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current-page">Page {{ products.number }}</span>
    {% if products.has_next %}
    <a href="?page={{ products.next_page_number }}">next</a>
    {% endif %}
  </div>
</section>
{% endblock content %}
