<div class="sidebar-container__div">
  <div class="burger-icon" id="sidebar-open">
    <i class="fas fa-bars fa-lg hover"></i>
  </div>
  <div>
    <div id="sidebar-dashboards" class="hover">
      <h2>Dashboard</h2>
      <i class="fas fa-caret-down"></i>
    </div>

    <ul class="sidebar-container__div-dropdown none" id="sidebar-container__div-dropdown-dashboards">
      <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
      <li><a href="{% url 'dashboard' %}">Staff Dashboard</a></li>
      <li><a href="{% url 'dashboard' %}">Client Dashboard</a></li>
    </ul>
  </div>
  <div>
    <div id="sidebar-products" class="hover">
      <h2>Products</h2>
      <i class="fas fa-caret-down"></i>
    </div>

    <ul class="sidebar-container__div-dropdown block" id="sidebar-container__div-dropdown-products">
      <li><a href="{% url 'products' %}">All Products</a></li>
      <li><a href="{% url 'add_product' %}">Add Products</a></li>
      <li><a href="http://">Update Products</a></li>
      <li><a href="http://">Special offers</a></li>
    </ul>
  </div>
  <div>
    <div id="sidebar-users" class="hover">
      <h2>System Users</h2>
      <i class="fas fa-caret-down"></i>
    </div>
    <ul class="sidebar-container__div-dropdown none" id="sidebar-container__div-dropdown-users">
      <li><a href="http://">All Clients</a></li>
      <li><a href="http://">All Staff</a></li>
      <li><a href="http://">Manage Staff</a></li>
      <li><a href="http://">Archived Users</a></li>
    </ul>
  </div>
  <div>
    <div id="sidebar-orders" class="hover">
      <h2>Orders</h2>
      <i class="fas fa-caret-down"></i>
    </div>
    <ul class="sidebar-container__div-dropdown none" id="sidebar-container__div-dropdown-orders">
      <li><a href="http://">All Orders</a></li>
      <li><a href="http://">Create Order</a></li>
      <li><a href="http://">Pending Orders</a></li>
      <li><a href="http://">Complete Orders</a></li>
    </ul>
  </div>
</div>