<div class="sidebar-container__div">
  <div class="burger-icon" id="sidebar-open">
    <i class="fas fa-bars fa-lg hover"></i>
  </div>
  <div>
    <div id="sidebar-dashboards" class="hover">
      <h2>Dashboard</h2>
      <i class="fas fa-caret-down"></i>
    </div>

    <ul class="sidebar-container__div-dropdown none" id="sidebar-container__div-dropdown-dashboards">
      <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
      {% if user.is_admin or user.is_staff %}
      <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
      <li><a href="{% url 'dashboard' %}">Staff Dashboard</a></li>
      {% endif %}
    </ul>
  </div>
  <div>
    <div id="sidebar-products" class="hover">
      <h2>Products</h2>
      <i class="fas fa-caret-down"></i>
    </div>

    <ul class="sidebar-container__div-dropdown block" id="sidebar-container__div-dropdown-products">
      <li><a href="{% url 'products' %}">All Products</a></li>
      {% if user.is_admin or user.is_satff %}
      <li><a href="{% url 'add_product' %}">Add Products</a></li>
      <li><a href="{% url 'manage_products' %}">Manage Products</a></li>
      {% endif %}
      <li><a href="http://">Special offers</a></li>
    </ul>
  </div>
  {% if user.is_admin %}
  <div>
    <div id="sidebar-users" class="hover">
      <h2>System Users</h2>
      <i class="fas fa-caret-down"></i>
    </div>
    <ul class="sidebar-container__div-dropdown none" id="sidebar-container__div-dropdown-users">
      <li><a href="{% url 'users' %}">Users</a></li>
      <li><a href="{% url 'clients' %}">Clients</a></li>
      <li><a href="{% url 'staff' %}">Staff</a></li>
      <li><a href="{% url 'admins' %}">Admins</a></li>
      <li><a href="">Manage Staff</a></li>
      <li><a href="{% url 'archived_users' %}">Archived Users</a></li>
    </ul>
  </div>
  {% endif %}
  <div>
    <div id="sidebar-orders" class="hover">
      <h2>Orders</h2>
      <i class="fas fa-caret-down"></i>
    </div>
    <ul class="sidebar-container__div-dropdown none" id="sidebar-container__div-dropdown-orders">
      <li><a href="{% url 'orders' %}">All Orders</a></li>
      {% if user.is_admin %}
      <li><a href="{% url 'new_order' %}">Create Order</a></li>
      {% endif %}
      <li><a href="{% url 'pending_orders' %}">Pending Orders</a></li>
      <li><a href="{% url 'completed_orders' %} ">Complete Orders</a></li>
    </ul>
  </div>
  {% if user.is_admin or user.is_staff %}
  <div>
    <div id="sidebar-expenses" class="hover">
      <h2>Expenses</h2>
      <i class="fas fa-caret-down"></i>
    </div>
    <ul class="sidebar-container__div-dropdown none" id="sidebar-container__div-dropdown-expenses">
      <li><a href="{% url 'expenses' %}">All Expenses</a></li>
      <li><a href="{% url 'new_expense' %}">Add expense</a></li>
    </ul>
  </div>
  {% endif %}
</div>